<h2>Event Confirmations with SMS</h2>

<form action="/send" method="post">
  <div class="field">
    <label for="number">
      Phone numbers:
    </label>
    <br />
    <textarea name="numbers" placeholder="numbers separated by commas (',')"></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Send">
  </div>
</form>